/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================
================================
   top-nav css start
   ========================================================================== */

.top-header {
    background-color: #292c2f;
    padding-bottom:10px;
}

.logo_img {
    width: 100%;
    padding: 10px 0px;
    max-width:250px;
   margin-bottom:10px;
}

.project-search {
    padding-top:30px;
    padding-left: 20px;
}

#searchbox
{
    background-color: #292c2f;
    border-radius: 35px;    
    border-width: 1px;          
    padding: 10px;
    overflow: hidden; /* Clear floats */
}

#search, 
#submit {
    float: left;
}

#search {
    padding: 5px 9px;
    height: 35px;
    width:100%;
    max-width: 430px;
    border: 1px solid #a4c3ca;
    font: normal 13px 'trebuchet MS', arial, helvetica;
    background: #ffffff !important;
    border-radius: 50px 3px 3px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);   
    outline: none;         
}

/* ----------------------- */

#submit
{       
        background-color: #846d4d;
    background-image: linear-gradient(#fff2df, #ffedd4);
    border-radius: 3px 50px 50px 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #b57211 #9f6e28 #ff9600;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    height: 37px;
    margin: 0 0 0 10px;
    padding: 0;
    width: 90px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
}

#submit:hover {       
               background-image: linear-gradient(#dcd1ba, #ffda89);
}   

#submit:active {       
    background: #f0ad4e;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
}

#submit::-moz-focus-inner {
       border: 0;  /* Small centering fix for Firefox */
}

.project-login{
        padding-left: 44px;
    padding-top: 30px;
}

/* ==========================================
================================
   top-nav css close
   ========================================================================== */


/* ==========================================
================================
   nav-menu css start
   ========================================================================== */

.nav-pills {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    color: #191818;
}
.nav-menu .nav-pills li{
    display:inline-block;
}

.nav-pills>li>a {
    color: #fff;
    border-radius: 0;
 
        padding: 0 30px;
}

ul li:first-child a {
    margin: 0;
}

.nav-pills>li>a:hover {
        color: #c5a247;
    background: transparent;
    transition: 0.3s all;
}

.navbar-nav>li>a {
    color: #fff;
        line-height: 13px !important;

}

.navbar-nav>li>a:hover {
        color: #f2c560;
    background: transparent;
    transition: 0.3s all;
}


/* ==========================================================================
  nav-menu css close
   ========================================================================== */

   /* ==========================================================================
  footer css start
   ========================================================================== */

.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}


.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #f0ad4e;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}

   /* ==========================================================================
  footer css close
   ========================================================================== */
